<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.malllearning.mbg.mapper.UdcHousesCustomerExtMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExt">
    <id column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="cst_guid" jdbcType="VARCHAR" property="cstGuid" />
    <result column="cst_name" jdbcType="VARCHAR" property="cstName" />
    <result column="cst_tel" jdbcType="VARCHAR" property="cstTel" />
    <result column="proj_code" jdbcType="VARCHAR" property="projCode" />
    <result column="proj_guid" jdbcType="VARCHAR" property="projGuid" />
    <result column="proj_name" jdbcType="VARCHAR" property="projName" />
    <result column="stage_code" jdbcType="VARCHAR" property="stageCode" />
    <result column="stage_guid" jdbcType="VARCHAR" property="stageGuid" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="opp_guid" jdbcType="VARCHAR" property="oppGuid" />
    <result column="sale_type" jdbcType="VARCHAR" property="saleType" />
    <result column="sale_status" jdbcType="VARCHAR" property="saleStatus" />
    <result column="is_mock" jdbcType="INTEGER" property="isMock" />
    <result column="gj_guid" jdbcType="VARCHAR" property="gjGuid" />
    <result column="gj_date" jdbcType="TIMESTAMP" property="gjDate" />
    <result column="gjfs" jdbcType="VARCHAR" property="gjfs" />
    <result column="gj_memo" jdbcType="VARCHAR" property="gjMemo" />
    <result column="datachange_lasttime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dc_id, data_source, cst_guid, cst_name, cst_tel, proj_code, proj_guid, proj_name, 
    stage_code, stage_guid, stage_name, opp_guid, sale_type, sale_status, is_mock, gj_guid, 
    gj_date, gjfs, gj_memo, datachange_lasttime
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from udc_houses_customer_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from udc_houses_customer_ext
    where dc_id = #{dcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from udc_houses_customer_ext
    where dc_id = #{dcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExtExample">
    delete from udc_houses_customer_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExt">
    insert into udc_houses_customer_ext (dc_id, data_source, cst_guid, 
      cst_name, cst_tel, proj_code, 
      proj_guid, proj_name, stage_code, 
      stage_guid, stage_name, opp_guid, 
      sale_type, sale_status, is_mock, 
      gj_guid, gj_date, gjfs, 
      gj_memo, datachange_lasttime)
    values (#{dcId,jdbcType=INTEGER}, #{dataSource,jdbcType=VARCHAR}, #{cstGuid,jdbcType=VARCHAR}, 
      #{cstName,jdbcType=VARCHAR}, #{cstTel,jdbcType=VARCHAR}, #{projCode,jdbcType=VARCHAR}, 
      #{projGuid,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, #{stageCode,jdbcType=VARCHAR}, 
      #{stageGuid,jdbcType=VARCHAR}, #{stageName,jdbcType=VARCHAR}, #{oppGuid,jdbcType=VARCHAR}, 
      #{saleType,jdbcType=VARCHAR}, #{saleStatus,jdbcType=VARCHAR}, #{isMock,jdbcType=INTEGER}, 
      #{gjGuid,jdbcType=VARCHAR}, #{gjDate,jdbcType=TIMESTAMP}, #{gjfs,jdbcType=VARCHAR}, 
      #{gjMemo,jdbcType=VARCHAR}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExt">
    insert into udc_houses_customer_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        dc_id,
      </if>
      <if test="dataSource != null">
        data_source,
      </if>
      <if test="cstGuid != null">
        cst_guid,
      </if>
      <if test="cstName != null">
        cst_name,
      </if>
      <if test="cstTel != null">
        cst_tel,
      </if>
      <if test="projCode != null">
        proj_code,
      </if>
      <if test="projGuid != null">
        proj_guid,
      </if>
      <if test="projName != null">
        proj_name,
      </if>
      <if test="stageCode != null">
        stage_code,
      </if>
      <if test="stageGuid != null">
        stage_guid,
      </if>
      <if test="stageName != null">
        stage_name,
      </if>
      <if test="oppGuid != null">
        opp_guid,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="saleStatus != null">
        sale_status,
      </if>
      <if test="isMock != null">
        is_mock,
      </if>
      <if test="gjGuid != null">
        gj_guid,
      </if>
      <if test="gjDate != null">
        gj_date,
      </if>
      <if test="gjfs != null">
        gjfs,
      </if>
      <if test="gjMemo != null">
        gj_memo,
      </if>
      <if test="datachangeLasttime != null">
        datachange_lasttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        #{dcId,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="cstGuid != null">
        #{cstGuid,jdbcType=VARCHAR},
      </if>
      <if test="cstName != null">
        #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="cstTel != null">
        #{cstTel,jdbcType=VARCHAR},
      </if>
      <if test="projCode != null">
        #{projCode,jdbcType=VARCHAR},
      </if>
      <if test="projGuid != null">
        #{projGuid,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="stageCode != null">
        #{stageCode,jdbcType=VARCHAR},
      </if>
      <if test="stageGuid != null">
        #{stageGuid,jdbcType=VARCHAR},
      </if>
      <if test="stageName != null">
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="oppGuid != null">
        #{oppGuid,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null">
        #{saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="isMock != null">
        #{isMock,jdbcType=INTEGER},
      </if>
      <if test="gjGuid != null">
        #{gjGuid,jdbcType=VARCHAR},
      </if>
      <if test="gjDate != null">
        #{gjDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gjfs != null">
        #{gjfs,jdbcType=VARCHAR},
      </if>
      <if test="gjMemo != null">
        #{gjMemo,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExtExample" resultType="java.lang.Integer">
    select count(*) from udc_houses_customer_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update udc_houses_customer_ext
    <set>
      <if test="record.dcId != null">
        dc_id = #{record.dcId,jdbcType=INTEGER},
      </if>
      <if test="record.dataSource != null">
        data_source = #{record.dataSource,jdbcType=VARCHAR},
      </if>
      <if test="record.cstGuid != null">
        cst_guid = #{record.cstGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cstName != null">
        cst_name = #{record.cstName,jdbcType=VARCHAR},
      </if>
      <if test="record.cstTel != null">
        cst_tel = #{record.cstTel,jdbcType=VARCHAR},
      </if>
      <if test="record.projCode != null">
        proj_code = #{record.projCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projGuid != null">
        proj_guid = #{record.projGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null">
        proj_name = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.stageCode != null">
        stage_code = #{record.stageCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stageGuid != null">
        stage_guid = #{record.stageGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.stageName != null">
        stage_name = #{record.stageName,jdbcType=VARCHAR},
      </if>
      <if test="record.oppGuid != null">
        opp_guid = #{record.oppGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.saleType != null">
        sale_type = #{record.saleType,jdbcType=VARCHAR},
      </if>
      <if test="record.saleStatus != null">
        sale_status = #{record.saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isMock != null">
        is_mock = #{record.isMock,jdbcType=INTEGER},
      </if>
      <if test="record.gjGuid != null">
        gj_guid = #{record.gjGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.gjDate != null">
        gj_date = #{record.gjDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gjfs != null">
        gjfs = #{record.gjfs,jdbcType=VARCHAR},
      </if>
      <if test="record.gjMemo != null">
        gj_memo = #{record.gjMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.datachangeLasttime != null">
        datachange_lasttime = #{record.datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update udc_houses_customer_ext
    set dc_id = #{record.dcId,jdbcType=INTEGER},
      data_source = #{record.dataSource,jdbcType=VARCHAR},
      cst_guid = #{record.cstGuid,jdbcType=VARCHAR},
      cst_name = #{record.cstName,jdbcType=VARCHAR},
      cst_tel = #{record.cstTel,jdbcType=VARCHAR},
      proj_code = #{record.projCode,jdbcType=VARCHAR},
      proj_guid = #{record.projGuid,jdbcType=VARCHAR},
      proj_name = #{record.projName,jdbcType=VARCHAR},
      stage_code = #{record.stageCode,jdbcType=VARCHAR},
      stage_guid = #{record.stageGuid,jdbcType=VARCHAR},
      stage_name = #{record.stageName,jdbcType=VARCHAR},
      opp_guid = #{record.oppGuid,jdbcType=VARCHAR},
      sale_type = #{record.saleType,jdbcType=VARCHAR},
      sale_status = #{record.saleStatus,jdbcType=VARCHAR},
      is_mock = #{record.isMock,jdbcType=INTEGER},
      gj_guid = #{record.gjGuid,jdbcType=VARCHAR},
      gj_date = #{record.gjDate,jdbcType=TIMESTAMP},
      gjfs = #{record.gjfs,jdbcType=VARCHAR},
      gj_memo = #{record.gjMemo,jdbcType=VARCHAR},
      datachange_lasttime = #{record.datachangeLasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExt">
    update udc_houses_customer_ext
    <set>
      <if test="dataSource != null">
        data_source = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="cstGuid != null">
        cst_guid = #{cstGuid,jdbcType=VARCHAR},
      </if>
      <if test="cstName != null">
        cst_name = #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="cstTel != null">
        cst_tel = #{cstTel,jdbcType=VARCHAR},
      </if>
      <if test="projCode != null">
        proj_code = #{projCode,jdbcType=VARCHAR},
      </if>
      <if test="projGuid != null">
        proj_guid = #{projGuid,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        proj_name = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="stageCode != null">
        stage_code = #{stageCode,jdbcType=VARCHAR},
      </if>
      <if test="stageGuid != null">
        stage_guid = #{stageGuid,jdbcType=VARCHAR},
      </if>
      <if test="stageName != null">
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="oppGuid != null">
        opp_guid = #{oppGuid,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null">
        sale_status = #{saleStatus,jdbcType=VARCHAR},
      </if>
      <if test="isMock != null">
        is_mock = #{isMock,jdbcType=INTEGER},
      </if>
      <if test="gjGuid != null">
        gj_guid = #{gjGuid,jdbcType=VARCHAR},
      </if>
      <if test="gjDate != null">
        gj_date = #{gjDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gjfs != null">
        gjfs = #{gjfs,jdbcType=VARCHAR},
      </if>
      <if test="gjMemo != null">
        gj_memo = #{gjMemo,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        datachange_lasttime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.malllearning.mbg.model.UdcHousesCustomerExt">
    update udc_houses_customer_ext
    set data_source = #{dataSource,jdbcType=VARCHAR},
      cst_guid = #{cstGuid,jdbcType=VARCHAR},
      cst_name = #{cstName,jdbcType=VARCHAR},
      cst_tel = #{cstTel,jdbcType=VARCHAR},
      proj_code = #{projCode,jdbcType=VARCHAR},
      proj_guid = #{projGuid,jdbcType=VARCHAR},
      proj_name = #{projName,jdbcType=VARCHAR},
      stage_code = #{stageCode,jdbcType=VARCHAR},
      stage_guid = #{stageGuid,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      opp_guid = #{oppGuid,jdbcType=VARCHAR},
      sale_type = #{saleType,jdbcType=VARCHAR},
      sale_status = #{saleStatus,jdbcType=VARCHAR},
      is_mock = #{isMock,jdbcType=INTEGER},
      gj_guid = #{gjGuid,jdbcType=VARCHAR},
      gj_date = #{gjDate,jdbcType=TIMESTAMP},
      gjfs = #{gjfs,jdbcType=VARCHAR},
      gj_memo = #{gjMemo,jdbcType=VARCHAR},
      datachange_lasttime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
</mapper>